<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>BookHaven - Administrar</title>
    <link rel="icon" href="MainLogo.png" type="image/png">
    <link rel="stylesheet" href="crudStyle.css" />
    <link href="inicioStyle.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link rel="icon" href="MainLogo.png" type="image/png">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="inicioStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastr@latest/build/toastr.min.css">
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top"
      id="mainNav"
    >
      <div class="container">
        <a href="#page-top"><img src="MainLogo2.png" style="width: 55px; height: auto; margin-right: 7px;"></a>
        <a class="navbar-brand" href="/vistamenu">BookHaven <b style="font-size: 14px;">Administrar</b></a>
        <button
          class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/vistamenu"
                >Inicio</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about"
                >Usuarios</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact"
                >Libros </a
              >
            </li>
            <li id="botonCerrarSesion" class="nav-item mx-0 mx-lg-1">
                <a style="color: red;" class="nav-link py-3 px-0 px-lg-3 rounded " 
                  >Cerrar Sesion</a
                >
              </li>
              
              <li id="botonNavAdministrar" class="nav-item mx-0 mx-lg-1">
                
              </li>

              <li class="nav-item mx-0 mx-lg-1">
                <a href="perfil"><div class="circuloMiPerfil" id="circuloMiPerfil"></div></a>
              </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-xl" style="margin-top: 150px;">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-6">
                <h2>Administrar <b>Usuarios</b></h2>
              </div>
              <div class="col-sm-6">
                <a
                  href="#addEmployeeModal"
                  class="btn btn-success"
                  data-toggle="modal"
                  ><i class="material-icons">&#xE147;</i>
                  <span>Agregar nuevo usuario</span></a
                >
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th style="width: auto;">Usuario</th>
                <th style="width: auto;">Nombre</th>
                <th style="width: auto;">Apellido</th>
                <th style="width: auto;">Email</th>
                <th style="width: auto;">Rol</th>
                <th >Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span class="custom-checkbox">
                    <input
                      type="checkbox"
                      id="checkbox1"
                      name="options[]"
                      value="1"
                    />
                    <label for="checkbox1"></label>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>

    <div class="container-xl" style="margin-top: 50px;">
      <div class="table-responsive">
        <div class="table-wrapper" style="margin-bottom: 150px;">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-6">
                <h2>Administrar <b>Libros</b></h2>
              </div>
              <div class="col-sm-6">
                <a
                  href="#addLibroModal"
                  class="btn btn-success"
                  data-toggle="modal"
                  ><i class="material-icons">&#xE147;</i>
                  <span>Agregar nuevo libro</span></a
                >
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th style="width: auto;">Titulo</th>
                <th style="width: auto;">Autor</th>
                <th>Paginas</th>
                <th>Año</th>
                <th>Precio</th>
                <th>Genero</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody id="librosTableBody">
              <tr>
                <td>
                  <span class="custom-checkbox">
                    <input
                      type="checkbox"
                      id="checkbox1"
                      name="options[]"
                      value="1"
                    />
                    <label for="checkbox1"></label>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>

    <!-- add Modal HTML -->
    <div id="addEmployeeModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form id="addEmployeeForm">
            <div class="modal-header">
              <h4 class="modal-title">Agregar Usuario</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true"
              >
                &times;
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" id="nombreAgregarUsuario" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Apellido</label>
                <input type="text" id="apellidoAgregarUsuario" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="email" id="emailAgregarUsuario" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Nombre de Usuario</label>
                <input type="text" id="usernameAgregarUsuario" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Contraseña</label>
                <input type="password" id="passwordAgregarUsuario" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Rol</label>
                <select id="rolAgregarUsuario" class="form-control" required>
                  <option value="" disabled selected>Elige una opción</option>
                  <option value="2">Usuario</option>
                  <option value="1">Administrador</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancelar"
              />
              <input type="submit" class="btn btn-success" value="Crear" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form id="editFormUsuario">
            <div class="modal-header">
              <h4 class="modal-title">Editar Usuario</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true"
              >
                &times;
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" id="nombreEditarUsuario" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Apellido</label>
                <input type="text" id="apellidoEditarUsuario" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="email" id="emailEditarUsuario" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Nombre de Usuario</label>
                <input type="text" id="usernameEditarUsuario" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Rol</label>
                <select id="rolEditarUsuario" class="form-control" required>
                  <option value="" disabled selected>Elige una opción</option>
                  <option value="2">Usuario</option>
                  <option value="1">Administrador</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancelar"
              />
              <input type="submit" class="btn btn-warning" value="Guardar" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Delete Modal HTML -->
    <div id="deleteEmployeeModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form id="deleteFormUsuario">
            <!-- Agregar un ID al formulario -->
            <div class="modal-header">
              <h4 class="modal-title">Eliminar Usuario</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true"
              >
                &times;
              </button>
            </div>
            <div class="modal-body">
              <p>Estas seguro que quieres eliminar este usuario?</p>
              <p class="text-warning">
                <small>Esta accion no se puede deshacer.</small>
              </p>
            </div>
            <div class="modal-footer">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancelar"
              />
              <input type="submit" class="btn btn-danger" value="Eliminar" />
            </div>
          </form>
        </div>
      </div>
    </div>


    <!-- Modales de libros -->




    <!-- Delete Modal libro HTML -->
    <div id="deleteLibroModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form id="deleteFormLibro">
            <!-- Agregar un ID al formulario -->
            <div class="modal-header">
              <h4 class="modal-title">Eliminar Libro</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true"
              >
                &times;
              </button>
            </div>
            <div class="modal-body">
              <p>Estas seguro que quieres eliminar este libro?</p>
              <p class="text-warning">
                <small>Esta accion no se puede deshacer.</small>
              </p>
            </div>
            <div class="modal-footer">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancelar"
              />
              <input type="submit" class="btn btn-danger" value="Eliminar" />
            </div>
          </form>
        </div>
      </div>
    </div>


    <!-- add Modal HTML -->
    <div id="addLibroModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form id="addLibroForm" enctype="multipart/form-data">
            <div class="modal-header">
              <h4 class="modal-title">Agregar Libro</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true"
              >
                &times;
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Titulo</label>
                <input type="text" id="tituloAgregarLibro" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Autor</label>
                <input type="text" id="autorAgregarLibro" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Paginas</label>
                <input type="number" id="paginasAgregarLibro" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Año de publicación</label>
                <input type="number" id="añoAgregarLibro" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Precio</label>
                <input type="number" id="precioAgregarLibro" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Genero</label>
                <input type="text" id="generoAgregarLibro" class="form-control" required />
              </div>

              <label>Imagen</label>
              <div class="mdi-camera-flip-outline" onclick="openFileDialog()">Seleccionar imagen <img id="imagePreview" class="preview" src="" alt="Previsualización de la imagen" style="display: none;"> <p style="text-align: center;" id="nombreArchivo"></p></div>
              
              <label class="mt-2">PDF</label>
              <div class="mdi-camera-flip-outline" onclick="openFileDialogCrearPDFLibro()">Seleccionar PDF <p style="text-align: center;" id="nombreArchivoPDFCrearLibro"></p></div>
            </div>
            <div class="modal-footer">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancelar"
              />
              <input type="submit" class="btn btn-success" value="Crear" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Edit Modal HTML -->
    <div id="editLibroModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form id="editFormLibro">
            <div class="modal-header">
              <h4 class="modal-title">Editar Libro</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true"
              >
                &times;
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Titulo</label>
                <input type="text" id="tituloEditarLibro" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Autor</label>
                <input type="text" id="autorEditarLibro" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Paginas</label>
                <input type="number" id="paginasEditarLibro" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Año de publicación</label>
                <input type="number" id="añoEditarLibro" class="form-control" required min="1900" />
              </div>
              <div class="form-group">
                <label>Precio</label>
                <input type="number" id="precioEditarLibro" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Genero</label>
                <input type="text" id="generoEditarLibro" class="form-control" required />
              </div>
              <label>Imagen</label>
              <div class="mdi-camera-flip-outline" onclick="openFileDialogEditarIMGLibro()">Seleccionar imagen <img id="imagePreviewLibro" class="preview" src="" alt="Previsualización de la imagen" style="display: none;"> <p style="text-align: center;" id="nombreArchivoIMGEditarLibro"></p></div>
              <label class="mt-2">PDF</label>
              <div class="mdi-camera-flip-outline" onclick="openFileDialogEditarPDFLibro()">Seleccionar PDF <p style="text-align: center;" id="nombreArchivoPDFEditarLibro"></p> <div id="pdfLinkPreviewEditLibro"></div> </div>
            </div>
            <div class="modal-footer">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancelar"
              />
              <input type="submit" class="btn btn-warning" value="Guardar" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
  //Variables globales
  let dataTokenUsuario = {}
  let IdUsuarioSacadoDeToken = null

  //Leer token y autorizar usuario
  document.addEventListener("DOMContentLoaded", () => {
    const token = localStorage.getItem("token");

    if (token) {
      // Verificar el token al cargar la página
      fetch("/verify-token", {
        method: "GET",
        headers: {
          Authorization: `Bearer ${token}`,
        },
      })
        .then((response) => {
          if (response.ok) {
            return response.json(); // Aquí obtenemos los datos de la respuesta
          } else {
            // Token inválido, redirigir al inicio
            window.location.href = "/";
          }
        })
        .then((data) => {
          const botonCirculoMiPerfil = document.getElementById('circuloMiPerfil');
              const capitalizedSub = data.sub.charAt(0).toUpperCase()
              botonCirculoMiPerfil.innerHTML = `<label style="color: black;font-size: 30px; cursor: pointer; margin-top: 8px">${capitalizedSub}</label>`;
          IdRolUsuarioSacadoDeToken = data.IdRol
          if (data.IdRol == 1) {
            administrarUsuarios(data);
            administrarLibros(data)
            dataTokenUsuario = data
            IdUsuarioSacadoDeToken = data.id;
          } else {
            window.location.href = "/vistamenu";
          }
          
        })
        .catch((error) => {
          console.error("Error al verificar el token:", error);
          window.location.href = "/";
        });
    } else {
      // Si no hay token, redirigir al inicio
      window.location.href = "/";
    }
  });


  function administrarUsuarios(data) {
    // Hacer un fetch para obtener los usuarios según el rol
    fetch("http://localhost:8080/usuarios", {
      method: "GET",
      headers: {
        id_rol: data.IdRol, // Aquí envías el valor del id_rol
      },
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error("Error en la solicitud");
        }
        return response.json(); // Convertimos la respuesta a JSON
      })
      .then((usuarios) => {
        // Seleccionar el tbody de la tabla
        const tableBody = document.querySelector("table tbody");

        // Limpiar cualquier contenido anterior
        tableBody.innerHTML = "";

        // Iterar sobre los usuarios y crear filas
        usuarios.forEach((usuario, index) => {
          const row = `
            <tr>
              <td>${usuario.username}</td>
              <td>${usuario.nombre}</td>
              <td>${usuario.apellido}</td>
              <td>${usuario.correoelectronico}</td>
              <td>${usuario.rol.tipodeRol}</td>
              <td>
                <a href="#editEmployeeModal" class="edit" data-toggle="modal" data-id="${usuario.id}" data-nombre="${usuario.nombre}" data-apellido="${usuario.apellido}" data-usuario="${usuario.username}" data-email="${usuario.correoelectronico}" data-rol="${usuario.rol.idRol}">
                  <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                </a>

                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal" data-id="${usuario.id}">
                  <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                </a>
              </td>
            </tr>
          `;
          // Insertar la fila en el tbody
          tableBody.innerHTML += row;
        });

        let IdUsuario; // Variable para almacenar el ID del usuario a eliminar


       // Función para manejar el envío del formulario
        function manejarEnvioFormulario(event) {
          event.preventDefault();

          // Extraer los valores del formulario en el momento del submit
          let datosNuevosEditUsuario = {
            nombre: document.getElementById('nombreEditarUsuario').value,
            apellido: document.getElementById('apellidoEditarUsuario').value,
            username: document.getElementById('usernameEditarUsuario').value,
            email: document.getElementById('emailEditarUsuario').value,
            rol: parseInt(document.getElementById('rolEditarUsuario').value, 10)
          };
          
          // Comparar los valores antiguos y nuevos
          if (JSON.stringify(datosAnterioresEditUsuario) !== JSON.stringify(datosNuevosEditUsuario)) {
            // Si algo cambió, ejecutar el PUT
            // Realizar la solicitud PUT
            fetch(`http://localhost:8080/usuarios/${IdUsuario}`, {
              method: "PUT",
              headers: {
                "Content-Type": "application/json",
                id_rol: data.IdRol,
              },
              body: JSON.stringify({username: datosNuevosEditUsuario.username,
              nombre: datosNuevosEditUsuario.nombre,
              apellido: datosNuevosEditUsuario.apellido,
              correoelectronico: datosNuevosEditUsuario.email,
              rol: {
                idRol: datosNuevosEditUsuario.rol
              }}),
            })
              .then((response) => {
                $("#editEmployeeModal").modal("hide");
                //Actualizar crud Usuarios
                administrarUsuarios(dataTokenUsuario);
              })
              .catch((error) => {
                console.error("Error:", error);
              });
            // Aquí va tu lógica de PUT
          } else {
            // Si no cambió nada, no hacer nada
            alert("Los datos siguen iguales. Ningun dato se ha modificado");
          }
        }

        // Escuchar el evento de clic en el enlace de editar
        $(document).on("click", ".edit", function () {
          IdUsuario = $(this).data("id");
          let nombreUsuario = $(this).data("nombre");
          let apellidoUsuario = $(this).data("apellido");
          let usernameUsuario = $(this).data("usuario");
          let emailUsuario = $(this).data("email");
          let rolUsuario = $(this).data("rol");

          // Extraer los valores originales para referencia
          document.getElementById('nombreEditarUsuario').value = nombreUsuario;
          document.getElementById('apellidoEditarUsuario').value = apellidoUsuario;
          document.getElementById('usernameEditarUsuario').value = usernameUsuario;
          document.getElementById('emailEditarUsuario').value = emailUsuario;
          document.getElementById('rolEditarUsuario').value = rolUsuario;

          // Guardar los datos originales
          datosAnterioresEditUsuario = {
            nombre: nombreUsuario,
            apellido: apellidoUsuario,
            username: usernameUsuario,
            email: emailUsuario,
            rol: parseInt(rolUsuario, 10) // Asegúrate de que este valor sea un número
          };

          // Remover el evento submit anterior para evitar duplicados
          document.getElementById("editFormUsuario").removeEventListener("submit", manejarEnvioFormulario);
          
          // Añadir el evento submit
          document.getElementById("editFormUsuario").addEventListener("submit", manejarEnvioFormulario);
        });

        // Escuchar el evento de clic en el enlace de editar
        $(document).on("click", ".delete", function () {
          IdUsuario = $(this).data("id");  
        });

        // Interceptar el envío del formulario
        document
          .getElementById("deleteFormUsuario")
          .addEventListener("submit", function (event) {
            event.preventDefault(); // Evitar que el formulario se envíe de forma tradicional
            
            // Realizar la solicitud DELETE
            fetch(`http://localhost:8080/usuarios/${IdUsuario}`, {
              method: "DELETE",
              headers: {
                "Content-Type": "application/json",
                id_rol: data.IdRol,
              },
            })
              .then((response) => {
                $("#deleteEmployeeModal").modal("hide");
                //Actualizar crud Usuarios
                administrarUsuarios(dataTokenUsuario);
              })
              .catch((error) => {
                console.error("Error:", error);
              });
          });
      })
      .catch((error) => {
        console.error("Error al obtener los usuarios:", error);
      });
  }

  function crearUsuario(data) {
    return fetch('http://localhost:8080/usuarios', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        id_rol: IdRolUsuarioSacadoDeToken, 
      },
      body: JSON.stringify(data) // Convertimos los datos a formato JSON
    })
    .then(response => response.json())
    .then(result => {
      return result;
    })
    .catch(error => {
      console.error('Error:', error);
      throw error;
    });
  }

  // Manejar el envío del formulario de crear usuario
  document.getElementById('addEmployeeForm').addEventListener('submit', function (event) {
    event.preventDefault(); // Evitar que el formulario se envíe automáticamente

    // Extraer los valores de los campos del formulario
    const nombre = document.getElementById('nombreAgregarUsuario').value;
    const apellido = document.getElementById('apellidoAgregarUsuario').value;
    const email = document.getElementById('emailAgregarUsuario').value;
    const username = document.getElementById('usernameAgregarUsuario').value;
    const password = document.getElementById('passwordAgregarUsuario').value;
    const Idrol = document.getElementById('rolAgregarUsuario').value;

    // Crear el objeto con los datos del formulario
    const data = {
      nombre: nombre,
      apellido: apellido,
      correoelectronico: email,
      username: username,
      password: password,
      rol: {
        idRol: Idrol,
      }
    };
    
    // Llamar a la función crearUsuario con los datos obtenidos
    crearUsuario(data)
      .then(result => {
        // Cerrar el modal y/o mostrar una notificación de éxito
        $('#addEmployeeModal').modal('hide');
        document.getElementById("addEmployeeForm").reset();
        //Actualizar crud Usuarios
        administrarUsuarios(dataTokenUsuario)
      })
      .catch(error => {
        // Manejar errores, mostrar mensaje de error, etc.
        alert('Hubo un error al crear el usuario');
        
      });
  });







  function administrarLibros(data) {
    // Hacer un fetch para obtener los libros según el rol
    fetch("http://localhost:8080/libros", {
      method: "GET",
      headers: {
        id_rol: data.IdRol, // Aquí envías el valor del id_rol
      },
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error("Error en la solicitud");
        }
        return response.json(); // Convertimos la respuesta a JSON
      })
      .then((libros) => {
        // Seleccionar el tbody de la tabla
        const tableBody = document.getElementById("librosTableBody");

        // Limpiar cualquier contenido anterior
        tableBody.innerHTML = "";

        // Iterar sobre los libros y crear filas
        libros.forEach((libros, index) => {
          const row = `
            <tr>
              <td>${libros.titulo}</td>
              <td>${libros.autor}</td>
              <td>${libros.numeroPaginas}</td>
              <td>${libros.anioPublicacion}</td>
              <td>${libros.precio}</td>
              <td>${libros.genero}</td>
              <td>
                <a href="#editLibroModal" class="editLibro" style="color: orange" data-toggle="modal" data-id="${libros.id}" data-titulo="${libros.titulo}" data-autor="${libros.autor}" data-paginas="${libros.numeroPaginas}" data-año="${libros.anioPublicacion}" data-precio="${libros.precio}" data-genero="${libros.genero}" data-imagenlibro="${libros.imagenLibroLink}" data-pdflibro="${libros.pdfLibroLink}">
                  <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                </a>

                <a href="#deleteLibroModal" class="deleteLibro" style="color: red" data-toggle="modal" data-id="${libros.id}">
                  <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                </a>
              </td>
            </tr>
          `;
          // Insertar la fila en el tbody
          tableBody.innerHTML += row;
        });

        let IdLibro; // Variable para almacenar el ID del Libro a eliminar


       // Función para manejar el envío del formulario
        async function manejarEnvioFormularioEditarLibro(event) {
          event.preventDefault();
          let perfilImagen = null
          let perfilPdf = null

          if (imageData) {
            
          try {
            const formData = new FormData();
            formData.append('file', imageData);

            const perfilImagenFileURL = "URL_DEL_ARCHIVO"; // Cambia esto por tu URL
            const codigoEncriptado = btoa(perfilImagenFileURL.split('InventarioEquipos/')[1]);

            const response = await fetch(
              `http://localhost:5050/api/file/file/InventarioEquiposComputo/SW52ZW50YXJpb0VxdXBvc2RlQ29tcHV0bw===&RGVzYXJvbGluZw==&UmFpei==&${codigoEncriptado}`,
              {
                method: 'PUT',
                body: formData,
                headers: {
                }
              }
            );

            if (response.ok) {
              const dataImage = await response.json();

              perfilImagen = 'http://localhost:5050/uploads/InventarioEquipos/' + dataImage.img;
              } else {
                toastr.options.positionClass = 'toast-bottom-right';
                toastr.error('Error al subir la imagen.');
              }
            } catch (error) {
              console.error('Error al subir la imagen:', error);
            }
          }

          if (pdfData) {
            
            try {
              const formData = new FormData();
              formData.append('file', pdfData);
  
              const perfilPdfFileURL = "URL_DEL_ARCHIVO"; // Cambia esto por tu URL
              const codigoEncriptado = btoa(perfilPdfFileURL.split('InventarioEquipos/')[1]);
  
              const response = await fetch(
                `http://localhost:5050/api/file/file/InventarioEquiposComputo/SW52ZW50YXJpb0VxdXBvc2RlQ29tcHV0bw===&RGVzYXJvbGluZw==&UmFpei==&${codigoEncriptado}`,
                {
                  method: 'PUT',
                  body: formData,
                  headers: {
                  }
                }
              );
  
              if (response.ok) {
                const dataImage = await response.json();
  
                perfilPdf = 'http://localhost:5050/uploads/InventarioEquipos/' + dataImage.img;
                } else {
                  toastr.options.positionClass = 'toast-bottom-right';
                  toastr.error('Error al subir la imagen.');
                }
              } catch (error) {
                console.error('Error al subir la imagen:', error);
              }
            }
            
        
          // Extraer los valores del formulario en el momento del submit
          let datosNuevosEditLibro = {
            titulo: document.getElementById('tituloEditarLibro').value,
            autor: document.getElementById('autorEditarLibro').value,
            paginas: document.getElementById('paginasEditarLibro').value,
            año: document.getElementById('añoEditarLibro').value,
            precio: document.getElementById('precioEditarLibro').value,
            genero: document.getElementById('generoEditarLibro').value,
            imagenLibroLink: perfilImagen,
            pdfLibroLink: perfilPdf
          };
          
          
          // Comparar los valores antiguos y nuevos
          if (JSON.stringify(datosAnterioresEditLibro) !== JSON.stringify(datosNuevosEditLibro)) {
            
            // Si algo cambió, ejecutar el PUT
            // Realizar la solicitud PUT
            fetch(`http://localhost:8080/libros/${IdLibro}`, {
              method: "PUT",
              headers: {
                "Content-Type": "application/json",
                id_rol: data.IdRol,
              },
              body: JSON.stringify({
              titulo: datosNuevosEditLibro.titulo,
              autor: datosNuevosEditLibro.autor,
              numeroPaginas: datosNuevosEditLibro.paginas,
              anioPublicacion: datosNuevosEditLibro.año,
              precio: datosNuevosEditLibro.precio,
              genero: datosNuevosEditLibro.genero,
              imagenLibroLink: perfilImagen,
              pdfLibroLink: perfilPdf
              }),
            })
              .then((response) => {
                $("#editLibroModal").modal("hide");
                //Actualizar crud Libros
                nombreArchivoElementEditarPDFLibro.textContent = null
                administrarLibros(dataTokenUsuario);
              })
              .catch((error) => {
                console.error("Error:", error);
              });
            // Aquí va tu lógica de PUT
          } else {
            // Si no cambió nada, no hacer nada
            alert("Los datos siguen iguales. Ningun dato se ha modificado");
          }
        }

        // Escuchar el evento de clic en el enlace de editar
        $(document).on("click", ".editLibro", function () {
          IdLibro = $(this).data("id");
          let tituloLibro = $(this).data("titulo");
          let autorLibro = $(this).data("autor");
          let numeroPaginasLibro = $(this).data("paginas");  
          let añoLibro = $(this).data("año");
          let precioLibro = $(this).data("precio");
          let generoLibro = $(this).data("genero");
          let imagenLibroLink = $(this).data("imagenlibro");
          let pdfLibroLink = $(this).data("pdflibro");

          // Extraer los valores originales para referencia
          document.getElementById('tituloEditarLibro').value = tituloLibro;
          document.getElementById('autorEditarLibro').value = autorLibro;
          document.getElementById('paginasEditarLibro').value = numeroPaginasLibro;
          document.getElementById('añoEditarLibro').value = añoLibro;
          document.getElementById('precioEditarLibro').value = precioLibro;
          document.getElementById('generoEditarLibro').value = generoLibro;
          imagePreviewLibro.src = imagenLibroLink
          document.getElementById("pdfLinkPreviewEditLibro").innerText = pdfLibroLink;
          

          // Guardar los datos originales
          datosAnterioresEditLibro = {
            titulo: tituloLibro,
            autor: autorLibro,
            paginas: numeroPaginasLibro,
            año: añoLibro,
            precio: precioLibro,
            genero: generoLibro,
            imagenLibroLink: imagenLibroLink,
            pdfLibroLink: pdfLibroLink
          };

          // Remover el evento submit anterior para evitar duplicados
          document.getElementById("editFormLibro").removeEventListener("submit", manejarEnvioFormularioEditarLibro);
          
          // Añadir el evento submit
          document.getElementById("editFormLibro").addEventListener("submit", manejarEnvioFormularioEditarLibro);
        });

        // Escuchar el evento de clic en el enlace de editar
        $(document).on("click", ".deleteLibro", function () {
          IdLibro = $(this).data("id");  
        });



        // Interceptar el envío del formulario
        document
          .getElementById("deleteFormLibro")
          .addEventListener("submit", function (event) {
            event.preventDefault(); // Evitar que el formulario se envíe de forma tradicional
            
            // Realizar la solicitud DELETE
            fetch(`http://localhost:8080/libros/${IdLibro}`, {
              method: "DELETE",
              headers: {
                "Content-Type": "application/json",
                id_rol: data.IdRol,
              },
            })
              .then((response) => {
                $("#deleteLibroModal").modal("hide");
                //Actualizar crud Libros
                administrarLibros(dataTokenUsuario);
              })
              .catch((error) => {
                console.error("Error:", error);
              });
          });
      })
      .catch((error) => {
        console.error("Error al obtener los usuarios:", error);
      });
  }

  function crearLibro(data) {
    
    return fetch('http://localhost:8080/libros', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        id_rol: IdRolUsuarioSacadoDeToken, 
      },
      body: JSON.stringify(data) // Convertimos los datos a formato JSON
    })
    .then(response => response.json())
    .then(result => {
      return result;
    })
    .catch(error => {
      console.error('Error:', error);
      throw error;
    });
  }

  // Manejar el envío del formulario de crear usuario
  document.getElementById('addLibroForm').addEventListener('submit', async function (event) {
    event.preventDefault(); // Evitar que el formulario se envíe automáticamente
    let perfilImagen = null
    let perfilPdf = null

    // Extraer los valores de los campos del formulario
    const titulo = document.getElementById('tituloAgregarLibro').value;
    const autor = document.getElementById('autorAgregarLibro').value;
    const paginas = document.getElementById('paginasAgregarLibro').value;
    const año = document.getElementById('añoAgregarLibro').value;
    const precio = document.getElementById('precioAgregarLibro').value;
    const genero = document.getElementById('generoAgregarLibro').value;

      if (!imageData) {
        toastr.options.positionClass = 'toast-bottom-right';
        toastr.error('Por favor, selecciona una imagen antes de guardar.');
        return;
      }

      if (!pdfData) {
        toastr.options.positionClass = 'toast-bottom-right';
        toastr.error('Por favor, selecciona un pdf antes de guardar.');
        return;
      }

      try {
        const formData = new FormData();
        formData.append('file', imageData);

        const perfilImagenFileURL = "URL_DEL_ARCHIVO"; // Cambia esto por tu URL
        const codigoEncriptado = btoa(perfilImagenFileURL.split('InventarioEquipos/')[1]);

        const response = await fetch(
          `http://localhost:5050/api/file/file/InventarioEquiposComputo/SW52ZW50YXJpb0VxdXBvc2RlQ29tcHV0bw===&RGVzYXJvbGluZw==&UmFpei==&${codigoEncriptado}`,
          {
            method: 'PUT',
            body: formData,
            headers: {
              // Nota: Fetch no necesita el header 'Content-Type' cuando usas FormData
            }
          }
        );

        if (response.ok) {
          const dataImage = await response.json();

          perfilImagen = 'http://localhost:5050/uploads/InventarioEquipos/' + dataImage.img;
        } else {
          toastr.options.positionClass = 'toast-bottom-right';
          toastr.error('Error al subir la imagen.');
        }
      } catch (error) {
        console.error('Error al subir la imagen:', error);
      }

      try {
        const formData = new FormData();
        formData.append('file', pdfData);

        const perfilPdfFileURL = "URL_DEL_ARCHIVO"; // Cambia esto por tu URL
        const codigoEncriptado = btoa(perfilPdfFileURL.split('InventarioEquipos/')[1]);

        const response = await fetch(
          `http://localhost:5050/api/file/file/InventarioEquiposComputo/SW52ZW50YXJpb0VxdXBvc2RlQ29tcHV0bw===&RGVzYXJvbGluZw==&UmFpei==&${codigoEncriptado}`,
          {
            method: 'PUT',
            body: formData,
            headers: {
              // Nota: Fetch no necesita el header 'Content-Type' cuando usas FormData
            }
          }
        );

        if (response.ok) {
          const dataPdf = await response.json();

          perfilPdf = 'http://localhost:5050/uploads/InventarioEquipos/' + dataPdf.img;
        } else {
          toastr.options.positionClass = 'toast-bottom-right';
          toastr.error('Error al subir la imagen.');
        }
      } catch (error) {
        console.error('Error al subir la imagen:', error);
      }
      

    // Crear el objeto con los datos del formulario
    const data = {
      titulo: titulo,
      autor: autor,
      numeroPaginas: paginas,
      anioPublicacion: año,
      precio: precio,
      genero: genero,
      imagenLibroLink: perfilImagen,
      pdfLibroLink: perfilPdf
    };
    
    // Llamar a la función crearUsuario con los datos obtenidos
    crearLibro(data)
      .then(result => {
        // Cerrar el modal y/o mostrar una notificación de éxito
        $('#addLibroModal').modal('hide');
        document.getElementById("addLibroForm").reset();
        //Actualizar crud Usuarios
        administrarLibros(dataTokenUsuario)
      })
      .catch(error => {
        // Manejar errores, mostrar mensaje de error, etc.
        alert('Hubo un error al crear el libro');
      });
  });



    let dialog = document.getElementById('dialog');
    let imageData = null;
    let pdfData = null;
    let nombreArchivoElement = document.getElementById('nombreArchivo');
    let nombreArchivoElementEditarIMGLibro = document.getElementById('nombreArchivoIMGEditarLibro');
    let nombreArchivoElementEditarPDFLibro = document.getElementById('nombreArchivoPDFEditarLibro');
    let nombreArchivoElementCrearPDFLibro = document.getElementById('nombreArchivoPDFCrearLibro');
    let imagePreview = document.getElementById('imagePreview');
    let imagePreviewLibro = document.getElementById('imagePreviewLibro');

    imagePreviewLibro.src = null;
    imagePreviewLibro.style.display = 'block'; // Muestra la imagen
    

    function openFileDialog() {
      const inputFile = document.createElement('input');
      inputFile.type = 'file';
      inputFile.accept = 'image/*';

      inputFile.addEventListener('change', handleImageChange);
      inputFile.click();
    }

    function openFileDialogEditarIMGLibro() {
      const inputFile = document.createElement('input');
      inputFile.type = 'file';
      inputFile.accept = 'image/*';

      inputFile.addEventListener('change', handleImageChangeEditarIMGLibro);
      inputFile.click();
    }

    function openFileDialogEditarPDFLibro() {
      const inputFile = document.createElement('input');
      inputFile.type = 'file';
      inputFile.accept = 'application/pdf';

      inputFile.addEventListener('change', handleImageChangeEditarPDFLibro);
      inputFile.click();
    }

    function openFileDialogCrearPDFLibro() {
      const inputFile = document.createElement('input');
      inputFile.type = 'file';
      inputFile.accept = 'application/pdf';

      inputFile.addEventListener('change', handleImageChangeCrearPDFLibro);
      inputFile.click();
    }

    function handleImageChange(event) {
      const file = event.target.files[0];
      imageData = file;
      nombreArchivoElement.textContent = file.name;

      // Mostrar la previsualización de la imagen
      const reader = new FileReader();
      reader.onload = function(e) {
        imagePreview.src = e.target.result; // Actualiza el src de la imagen de previsualización
        imagePreview.style.display = 'block'; // Muestra la imagen
      }
      reader.readAsDataURL(file);
    }

    function handleImageChangeEditarIMGLibro(event) {
      const file = event.target.files[0];
      imageData = file;
      nombreArchivoElementEditarIMGLibro.textContent = file.name;

      // Mostrar la previsualización de la imagen
      const reader = new FileReader();
      reader.onload = function(e) {
        imagePreviewLibro.src = e.target.result; // Actualiza el src de la imagen de previsualización
        imagePreviewLibro.style.display = 'block'; // Muestra la imagen
      }
      reader.readAsDataURL(file);
    }

    function handleImageChangeEditarPDFLibro(event) {
      const file = event.target.files[0];
      pdfData = file;
      nombreArchivoElementEditarPDFLibro.textContent = file.name;
    }

    function handleImageChangeCrearPDFLibro(event) {
      console.log("oepapiiiiii");
      
      const file = event.target.files[0];
      pdfData = file;
      nombreArchivoElementCrearPDFLibro.textContent = file.name;
    }

  


  //Boton cerrar sesion
  document.getElementById('botonCerrarSesion').addEventListener('click', function() {
    // Eliminar el token del localStorage
    localStorage.removeItem('token'); // Reemplaza 'token' con la clave exacta que estás usando para almacenar el token
    location.reload();
  });
</script>
